.filter-container{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    width: 100%;
    border: black solid 1px;
    margin-top: 10px;
}