
.header-container {
    align-items: center;
    justify-content:space-around;
    padding: 10px;
    background-color: black;
    width: 100%;
    nav {
      grid-column: 2;
      grid-row: 1;
       display: flex;
       width: max-content;
       justify-content: space-between;
       color: white;
       justify-self: end;
       gap: 25px;
    }

    h1 {
      grid-column: 2;
      grid-row: 1;
       color: brown;
       font-size: 30px;
       width: max-content;
    }

 }