
.header-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px  40px;
    background-color: black;
    width: 100%;
    nav {
      grid-column: 2;
      grid-row: 1;
       display: flex;
       width: max-content;
       justify-content: space-between;
       color: white;
       justify-self: end;
       gap: 5vw;

    }

    h1 {
      grid-column: 2;
      grid-row: 1;
       color: brown;
       font-size: 30px;
       width: max-content;
    }

    .user-info{
      display: flex;
      gap: 30px;
      align-items: center;
      color: white;
      font-weight: bold;
    }
    p{
      margin: 0;
    }
    .user-msg {
      position: fixed;
      top: 100px;
      right: 50px;
      background-color: brown;
      padding: 10px;
      button {
          margin-inline-end: 10px;
      }
  }

 }