.toys-container{
    position: relative;
    top: 100px;
    left: 10vw;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    height: max-content;
}
.toys-container li{
    list-style: none;
}
