.toy-box {
    display: grid;
    grid-template-rows: auto auto auto;
    background-color: brown;
    border-radius: 3px;
    padding: 20px;
    width: 200px;
    height: 250px;
}
article{

}
.toy-box h1 {
    position: relative;
    font-size: 40px;
    color: white;
}

.toy-box article {
    position: absolute;
    height: max-content;
}

/* .btn{
    background-color: black;
    color: white;
    padding: 4px;
    margin: 5px;
    border-radius: 10px;
} */
.delete {
    position: relative;
    top: -10px;
    right: -10px;
    grid-column: 2;
    justify-self: end;
    height: max-content;
}

.edit,.details {
    grid-row: 3;
    justify-self: center;
    align-self: end;
    height: max-content;
}

/* .btn:hover{
    background-color: white;
    color: black;
} */